* {
    padding: 0px;
    margin: 0px;
}

main {
    color: black;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif    
}

.titulo-1{
    color: rgb(80, 39, 1);
    text-align: center;
    font-size: 50px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    font-size: 25px;
}

.imagemm {
    width: 500px;
    height: 500px;
    padding: auto;
}